<div flex layout-fill layout="column" ng-init="ctl.initialize()" ng-cloak>
  <md-grid-list md-cols-gt-lg="8" md-cols-gt-md="6" md-cols-gt-sm="2" md-cols-sm="1" md-gutter-gt-md="12px" md-gutter-gt-sm="6px" md-row-height-gt-md="1:1" md-row-height="4:3">
    <md-grid-tile class="doc-tile" md-colspan-sm="1" md-colspan="2" md-rowspan="1" ng-repeat="todo in ctl.todos" ng-click="ctl.selectDocument($event, todo)">
      <md-icon ng-if="todo.status === 'finished'" class="md-48" ng-class="{ selectionBorder: todo === ctl.selectedDocument }">assignment_turned_in</md-icon>
      <md-icon ng-if="todo.status !== 'finished'" class="md-48" ng-class="{ selectionBorder: todo === ctl.selectedDocument }">assignment</md-icon>
      <div class="hover-actions" layout="row" layout-padding>
        <button ng-if="todo.status !== 'finished'" class="md-icon-button hover-button" md-no-ink ng-click="ctl.toggleTodo($event, todo)">
          <md-icon>check</md-icon>
        </button>
        <button ng-if="todo.status === 'finished'" class="md-icon-button hover-button" md-no-ink ng-click="ctl.toggleTodo($event, todo)">
          <md-icon>radio_button_unchecked</md-icon>
        </button>
        <button class="md-icon-button hover-button" md-no-ink ng-click="ctl.removeTodo($event, todo)">
          <md-icon>delete</md-icon>
        </button>
      </div>
      <md-grid-tile-footer>
        <h3 class="title">
          {{ todo.title }}
        </h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
