<md-fab-speed-dial class="md-fab md-fab-bottom-right md-scale" md-direction="up" ng-cloak>
  <md-fab-trigger>
    <md-button class="md-fab">
      <md-icon>menu</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini" ng-click="shell.sendEvent('add-todo', $event)">
      <md-tooltip md-direction="left">Add New Todo</md-tooltip>
      <md-icon>add</md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini" ui-sref="^.search">
      <md-tooltip md-direction="left">Search</md-tooltip>
      <md-icon>search</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
