<md-dialog ng-cloak flex layout="column">
  <md-toolbar flex>
   <div class="md-toolbar-tools">
     <h2>New Todo:</h2>
     <span flex></span>
     <md-button class="md-icon-button" ng-click="cancel()">
       <md-icon>close</md-icon>
     </md-button>
   </div>
  </md-toolbar>
  <md-dialog-content layout-padding layout-margin flex layout="row">
    <md-input-container flex layout-fill>
      <label>Todo</label>
      <input ng-model="todoItem" required md-maxlength="140" type="text">
    </md-input-container>
    <md-dialog-actions layout="row" layout-align="end end" layout-margin>
      <md-button class="md-fab md-primary md-button" ng-click="answer()" ng-disabled="todoItem === ''">OK</md-button>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
