<div flex layout-fill layout="column" ng-init="ctl.initialize()" ng-cloak>
  <md-grid-list md-cols-gt-lg="8" md-cols-gt-md="6" md-cols-gt-sm="2" md-cols-sm="1"
                md-gutter-gt-sm="6px" md-gutter-gt-md="12px"
                md-row-height-gt-md="1:1" md-row-height="4:3">
    <md-grid-tile md-colspan-sm="1" md-colspan="2" md-rowspan="1"
                  ng-repeat="todo in ctl.todos">
      <md-icon ng-if="todo.status === 'finished'" class="md-48">assignment_turned_in</md-icon>
      <md-icon ng-if="todo.status !== 'finished'" class="md-48">assignment</md-icon>
      <md-grid-tile-footer>
        <h3 class="title">
          {{ todo.title }}
        </h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
