div.md-toolbar-tools.windows-controls {
  height: 24px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
div.md-toolbar-tools.windows-controls:hover svg {
  opacity: 100;
}
span.app-title {
  -webkit-user-select: none;
  cursor: default;
  font-family: "Segoe UI", "Arial";
  font-size: 12px;
  color: #ffffff;
}
.draggable {
  -webkit-app-region: drag;
  height: 100%;
}
md-toolbar .md-button:not(.selected) md-icon {
  color: #bdbdbd;
}
md-toolbar.md-whiteframe-z3 {
  min-height: 88px;
}
md-toolbar h1 {
  margin: auto;
  font-size: 1.25em;
  font-weight: 400;
}
a.md-icon-button.osx-control {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 0.5px;
  margin-left: 4px;
  margin-right: 4px;
  line-height: 0;
}
a.md-icon-button.osx-control svg {
  opacity: 0;
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
}
a.md-icon-button.osx-control.close {
  background-color: #ff5f57;
  border-color: #e2463f;
}
a.md-icon-button.osx-control.close:active {
  background-color: #bf4943;
  border-color: #ad3934;
}
a.md-icon-button.osx-control.minimize {
  background-color: #ffbd2e;
  border-color: #e1a116;
}
a.md-icon-button.osx-control.minimize:active {
  background-color: #bf9123;
  border-color: #ad7d15;
}
a.md-icon-button.osx-control.fullscreen {
  background-color: #28c940;
  border-color: #12ac28;
}
a.md-icon-button.osx-control.fullscreen:active {
  background-color: #1f9a31;
  border-color: #128622;
}
a.md-icon-button.window-control.md-button {
  height: 24px;
  width: 24px;
  border-radius: 10%;
}
a.md-icon-button.window-control.md-button svg {
  width: 10px;
  height: 10px;
}
a.md-icon-button.window-control.md-button:active {
  background-color: rgba(255, 255, 255, .23);
}
a.md-icon-button.window-control.md-button:hover {
  transition: background-color 0.1s;
  background-color: rgba(255, 255, 255, .13);
}
a.md-icon-button.window-control.close.md-button:active {
  background-color: #f1707a;
}
a.md-icon-button.window-control.close.md-button:hover {
  transition: background-color 0.1s;
  background-color: #e81123;
}

/*::-webkit-scrollbar {
  display: none;
}*/
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(127, 127, 127, 0.8);
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(127, 127, 127, 0.4);
}
