html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: none;
  -webkit-user-select: none;
}

md-sidenav md-list {
	width: 100%;
	text-align: left;
}

md-sidenav md-list .md-button {
	width: 100%;
	text-align: left;
}

md-sidenav md-list .md-button.selected {
	color: #03a9f4;
}

.menu {
	background-color: transparent;
	border: none;
	height: 38px;
	width: 38px;
	margin: 16px;
}

md-toolbar h1 {
	margin: auto;
	font-size: 1.25em;
	font-weight: 400;
}

#content {
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
}

.fullsize {
	height: 100%;
	width: 100%;
}

.non-scrollable {
	overflow-y: hidden;
}

.scrollable {
	overflow-y: auto;
}
