html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}
md-content[ui-view='content'], md-content[ui-view='module'] {
  height: 85vh;
  width: 99vw;
  overflow: hidden;
}
md-content[ui-view='content'] {
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
[ui-view='status'] {
  position: relative;
  z-index: 10;
}
.hidden {
  visibility: hidden;
  position: absolute;
  display: none;
}
.md-48 {
  font-size: 48px;
}
.angular-center-container {
  background-color: rgba(0, 0, 0, 0.66);
}
.angular-centered h3 {
  color: white;
}
.title {
  overflow: hidden;
  max-height: 2.5em;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px rgb(107, 104, 104);
  font-weight: 500;
}
.statusLine {
  z-index: 20;
  width: 95%;
  overflow: hidden;
}

.statusLine.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

md-fab-speed-dial.md-scale.md-is-open .md-fab-action-item {
  -webkit-transform: scale(1);
          transform: scale(1);
}
