html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: none;
  -webkit-user-select: none;
}
md-content[ui-view='content'], md-content[ui-view='module'] {
  height: 85vh;
  width: 99vw;
  overflow: hidden;
}
md-content[ui-view='content'] {
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.hidden {
  visibility: hidden;
  position: absolute;
  display: none;
}
.md-48 {
  font-size: 48px;
}
.angular-center-container {
  background-color: rgba(0, 0, 0, 0.66);
}
.angular-centered h3 {
  color: white;
}
.title {
  overflow: hidden;
  max-height: 2.5em;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px rgb(107, 104, 104);
  font-weight: 500;
}
