.timeline-container {
  min-height: auto;
  height: auto;
}
.timeline-badge {
  z-index: 1 !important;
}
.md-icon-button.info-btn {
  float: right;
  margin: -6px 6px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
