<div layout="column" layout-align="center center" layout-fill class="timeline-container" ng-init="ctl.initialize()">
  <timeline layout-fill>
    <timeline-event ng-repeat="event in ctl.events" side="{{ event.direction }}">
      <timeline-badge class="{{ event.class }}">
        <md-icon>{{ event.activity.image }}</md-icon>
      </timeline-badge>
      <timeline-panel>
        <timeline-heading>
          <timeline-title layout-align="space-between start" layout="row" layout-fill>
            <span>{{ event.activity.agent.name }}: {{ event.activity.endTime | date: 'medium' }}</span>
            <md-button class='md-icon-button info-btn'>
              <md-icon>info_outline</md-icon>
            </md-button>
          </timeline-title>
        </timeline-heading>
        <timeline-content>
          <p ng-bind-html="event.activity.description"</p>
        </timeline-content>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
