<div flex layout-fill layout="column" ng-cloak ng-init="ctl.initialize()">
  <md-autocomplete md-input-minlength="2"
                   md-input-maxlength="18"
                   md-selected-item="ctl.query"
                   md-search-text="ctl.searchText"
                   md-items="item in ctl.findTerm(ctl.searchText)"
                   md-item-text="item.label"
                   md-selected-item-change="ctl.search()"
                   md-floating-label="Search Term">
   <md-item-template>
     <span md-highlight-text="ctrl.searchText">{{ item.label }}</span>
   </md-item-template>
  </md-autocomplete>
  <div id="ontology-graph" flex layout-fill></div>
</div>
