<div flex layout="column" tabindex="-1" class="md-whiteframe-z1" ng-init="shell.initialize()" ng-cloak>
  <centered ng-if="shell.isBusy">
    <div layout="row" layout-align="space-around center">
      <h3>{{ shell.statusMessage }}</h3>
      <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
  </centered>
  <md-toolbar class="md-whiteframe-z3">
    <div ng-if="shell.platform() === 'darwin'" class="md-toolbar-tools windows-controls" flex layout-align="start start">
      <a class="md-icon-button osx-control close" md-no-ink ng-click="shell.closeApp()">
        <svg x="0px" y="0px" viewBox="0 0 6.4 6.4">
          <polygon fill="#4d0000" points="6.4,0.8 5.6,0 3.2,2.4 0.8,0 0,0.8 2.4,3.2 0,5.6 0.8,6.4 3.2,4 5.6,6.4 6.4,5.6 4,3.2 "></polygon>
        </svg>
      </a>
      <a class="md-icon-button osx-control minimize" md-no-ink ng-click="shell.minimizeApp()">
        <svg x="0px" y="0px" viewBox="0 0 8 1.1">
          <rect fill="#995700" width="8" height="1.1"></rect>
        </svg>
      </a>
      <a class="md-icon-button osx-control fullscreen" md-no-ink ng-click="shell.toggleFullscreen()">
        <svg x="0px" y="0px" viewBox="0 0 6 5.9">
          <path fill="#006400" d="M5.4,0h-4L6,4.5V0.6C5.7,0.6,5.3,0.3,5.4,0z"></path>
          <path fill="#006400" d="M0.6,5.9h4L0,1.4l0,3.9C0.3,5.3,0.6,5.6,0.6,5.9z"></path>
        </svg>
      </a>
      <span class="draggable" flex></span>
      <span class="app-title">{{ shell.appName }}</span>
      <span class="draggable" flex></span>
    </div>
    <div ng-if="shell.platform() !== 'darwin'" class="md-toolbar-tools windows-controls" flex layout-align="end end">
      <span class="app-title">{{ shell.appName }}</span>
      <span class="draggable" flex></span>
      <a class="md-icon-button window-control md-button" md-no-ink ng-click="shell.minimizeApp()">
        <svg x="0px" y="0px" viewBox="0 0 10.2 1">
          <rect fill="#ffffff" width="10.2" height="1"></rect>
        </svg>
      </a>
      <a class="md-icon-button window-control md-button" md-no-ink ng-click="shell.toggleFullscreen()">
        <svg x="0px" y="0px" viewBox="0 0 10.2 10.2">
          <path fill="#ffffff" d="M2.1,0v2H0v8.1h8.2v-2h2V0H2.1z M7.2,9.2H1.1V3h6.1V9.2z M9.2,7.1h-1V2H3.1V1h6.1V7.1z"></path>
        </svg>
      </a>
      <a class="md-icon-button window-control close md-button" md-no-ink ng-click="shell.closeApp()">
        <svg x="0px" y="0px" viewBox="0 0 10.2 10.2">
          <polygon fill="#ffffff" points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1 "></polygon>
        </svg>
      </a>
    </div>
    <div class="md-toolbar-tools">
      <span ui-view="header"></span>
      <span class="draggable" flex></span>
      <span ui-view="toolbar"></span>
      <span class="draggable" flex></span>
      <md-button class="md-icon-button" md-no-ink ng-repeat="module in shell.modules"
                 ng-href="#{{ module.info.url }}" ng-class="{ selected: $state.includes('{{ module.info.state }}') }">
        <md-icon>{{ module.info.icon }}</md-icon>
        <md-tooltip>{{ module.info.tooltip }}</md-tooltip>
      </md-button>
      <span></span>
    </div>
  </md-toolbar>
  <md-content flex layout-fill layout-margin ui-view="module"></md-content>
  <div layout="row" layout-align="end start" layout-margin>
    <div layout-fill layout-padding ui-view="status"></div>
    <span flex></span>
    <div layout="row" layout-margin ui-view="actions"></div>
  </div>
</div>
